#container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  font-family: 'Alatsi', sans-serif;
}

.ember-google-map {
    width: 700px;
    height: 500px;
  }

.flex-container {
  display: flex;
  flex-direction: column;
}

.provider-card {
  /* border-style: solid;
  border-width: 2px;
  border-color: black;
  padding: 10px 10px 10px 10px; */
  text-align: center;
  margin-top: 10px;
}

.address-box {
  display: flex;
  justify-content: center;
}

.address-box p {
  
  padding: 2px;
}